* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: 'Poppings', sans-serif;
  width: 100%;
  background-color: #f7f7f9;
  background-image: url(image/header-background-mobile\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.container1 {
  display: flex;
  flex-direction: column;
  background-image: url(image/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 80%;
  height: 670px;
  border-radius: 8px;
  top: 10px;
  overflow-x: hidden;
}


.Toolbar {
  width: 100%;
 }

nav ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin: 0%;
  padding: 1rem;
  margin-left: 0.5rem;
}

nav li {
  list-style: none;
  width: auto;
}


nav a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
  padding-right: 10rem;
}

h1 {
  padding-top: 65px;
  font-family: 'Poppings', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  font-size: 40px;
  width: 88%;
}

.P-Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0%;
  padding: 10px;
}

.P-Text p {
  font-family: 'Poppings', sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  width: 90%;
  color: #344563;
  padding-top: 20px;
}

.Connect {
  font-family: 'Poppings', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7f8cff;
  width: 90%;
  padding-top: 20px;
  text-decoration: none;
}

.Social {
  display: flex;
  align-items: flex-start;
  width: 95%;
  padding-top: 5px;
  list-style: none;
}

.Social li {
  padding: 10px;
}

.Social a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
}

.Social a :hover,
.Social a:focus {
  background-color: blue;
}
